$primary: #e0e3f5;
$primary-darker: #8e9adf;
$gray: rgba(44, 44, 44, 0.849);

$font: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
